<%-include('template/header', {webTitle:'Home'}) %>
<body>
  <%-include('navbar') %>
  <h1 class="container"><%=title%></h1>

  <a href="/plastic"> See our plastic materials</a>

  

  <%-include('template/footer') %>
</body>
